{% extends 'pro/distributeur/index.html.twig' %}

{%  block body %}
    <div class="container-fluid">

    <form action="" method="post" class="search-form">
        <label for="NFC">Entrez le NFT ID ou scannez la ressource</label><br>
        <input class="search-input" id="NFC" name="NFC" type="number" required>
        <button id="scanner-button" class="btn btn-primary scanner-button">Scanner</button><br>
        <button type="submit" class="btn btn-primary">Chercher</button>
    </form>

    {% if resources %}
        <br><br>
        {% for product in resources %}
            <div class="card mr-2 mb-2" style="width: 100%;">
                <div class="card-body ">
                    <h5 class="card-title">{{ product.ResourceName.name }}- {{ product.id }}</h5>
                    <a class="card-link" href="{{ path('app_distributeur_specific', {'id': product.id}) }}">Informations</a>
                </div>
            </div>
        {% endfor %}

    {% else %}
        <br>
        <p>Vous n'avez aucun produit en stock</p>
    {% endif %}

    </div>
{% endblock %}
