{% extends 'pro/distributeur/index.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <h1>Vente</h1>
        <p>Scannez le produit vendu</p>
        <br>

        <form action="" method="post" class="search-form">
            <label for="NFC">Entrez le NFT ID ou scannez le produit</label><br>
            <input class="search-input" id="NFC" name="NFC" type="number" required>
            <button id="scanner-button" class="btn btn-primary scanner-button">Scanner</button><br>
            <button class="btn btn-primary" type="submit">Vente</button>
        </form>


        <br><br>

        <h2>Historique des ventes</h2>
        {% for resource in resources %}
            <div class="card">
                <div class="card-body">
                    <p class="card-text">Vente du produit {{ resource.ResourceName.name }} ( {{ resource.id }} ) </p>
                </div>
                <br>
                <div class="card-footer">
                    <a class="card-link" href="{{ path('app_search_result', {'id' :  resource.id }) }}"> Rechercher ce produit </a>
                </div>
            </div>
                <br>
        {% endfor %}
    </div>
{% endblock %}
