{% extends 'pro/usine/index.html.twig' %}



{% block body %}
    <div class="container-fluid">
    <h1>Application de la recette : {{ product }}</h1><br>
    <form method="post">
        {# <label> NFC du Nouveau produit :
            <input type="number" name="newProductId" class="form-control" required>
        </label>
        <input type="submit" value="Valider et créer le produit" class="btn btn-primary">
        <br><br>
        <label> Poids du produit final (en grammes) :
            <input type="number" name="weight" class="form-control" required> #}
        </label>
        <br><br>
        <h3>Scannez un tag NFC correspondant pour chaque ingrédient :</h3><br>
        {# {% for ingredient in ingredients %} #}
           {% for i in range (0,ingredients|length -1) %}
           <div class="input-div">
               <label for="prod_{{ loop.index0 }}"> {{ ingredients[i][0]["resource_name"]}} : </label>
               <input type="number" id="prod_{{ loop.index0 }}" name="morceaux[]" class="form-control search-input" required>
               <br>
               <button id="scanner-button-manufacturer" class="btn btn-primary scanner-button-manufacturer">Scanner</button><br>
               <br>
               <br>
            </div>
           {% endfor %}
        <input type="submit" value="Valider et créer le produit" class="btn btn-primary">
        {# {% endfor %} #}

    </form>

            <!-- Loader modal -->
        <div id="loaderModal" class="loader-modal">
            <div class="loader-content">
                <p>Veuillez approcher une ressource près du lecteur</p>
                <div class="loader"></div>
            </div>
        </div>
    </div>
{% endblock %}
