{% extends 'pro/usine/index.html.twig' %}

{% block body %}
    <div class="container-fluid">
    <h1>Application de la recette : {{ product.name }}</h1><br>
    <form method="post">
        <label> NFC du Nouveau produit :
            <input type="number" name="newProductId" class="form-control" required>
        </label>
        <input type="submit" value="Valider et créer le produit" class="btn btn-primary">
        <br><br>
        <label> Poids du produit final (en grammes) :
            <input type="number" name="weight" class="form-control" required>
        </label>
        <br><br>
        <h3>Scannez un tag NFC correspondant pour chaque ingrédient :</h3><br>
        {% for ingredient in ingredients %}
           {% for i in 1..ingredient.ingredientNumber %}
               <label for="prod_{{ loop.index0 }}">{{ ingredient.ingredient.name }} : </label>
               <input type="number" id="prod_{{ loop.index0 }}" name="morceaux[]" class="form-control" required>
               <br>
               <button class="btn btn-primary" disabled >Scanner</button>
               <br>
               <br>
           {% endfor %}
        {% endfor %}

    </form>
    </div>
{% endblock %}
