{% extends 'pro/usine/index.html.twig' %}

{% block body %}
    <div class="container-fluid">
    <h1>Choix d'une recette à appliquer</h1>
    <br>
    <p>Choisissez une recette à appliquer :</p>
    <ul>
        {% for title in titles %}
            <li>
                <a href="{{ path('app_usine_recette', {'id': title.resource_id}) }}">{{ title.resource_name }}</a>
            </li>
        {% endfor %}
    </ul>
    </div>
{% endblock %}
