{% extends 'admin/admin.html.twig' %}

{% block body %}
<div class="container-fluid">
        <h1>Création d'une nouvelle ressource</h1><br>

        <table class="table table-striped">
        <tr>
            <td>
                <a href="{{ path('app_eleveur_index') }}" class="btn btn-primary"> Eleveur</a>
            </td>
            <td>
                Animal
            </td>
        </tr>
        <tr>
            <td>
                <a href="{{ path('app_equarrisseur_index') }}" class="btn btn-primary"> Equarrisseur</a>
            </td>
            <td>
                Carcass , demi-carcass
            </td>
        </tr>
        <tr>
            <td>
                <a href="{{ path('app_usine_index') }}" class="btn btn-primary"> Usine</a>
            </td>
            <td>
                Morceaux, produit
            </td>
        </tr>
        <tr>
            <td>
                <a href="{{ path('app_transporteur_index') }}" class="btn btn-primary"> Transporteur</a>
            </td>
            <td>
                Transport
            </td>
    </tbody>
</table>

</div>
{% endblock %}
