{% extends 'admin/admin.html.twig' %}

{% block body %}

    <div class="container-fluid">
        <h1>Modifier une ressource : </h1><br>
        <form action="" method="post" class="search-form">
            <label for="NFC">Entrez le NFT ID ou scannez la ressource</label><br>
            <input class="search-input" id="NFC" name="NFC" type="number" required>
            <button id="scanner-button" class="btn btn-primary scanner-button">Scanner</button><br>
            <button type="submit" class="btn btn-primary">Chercher</button>
        </form>

        <!-- Loader modal -->
        <div id="loaderModal" class="loader-modal">
            <div class="loader-content">
                <p>Veuillez approcher une ressource près du lecteur</p>
                <div class="loader"></div>
            </div>
        </div>

        <br>
        <div class="row ml-5" >
            {% for resource in resources %}

            <div class="card mr-2 mb-2" style="width: 18rem;">
                <div class="card-body ">
                    <h5 class="card-title">{{ resource.ResourceName.name }}</h5>
                    <h6 class="card-subtitle mb-2 text-body-secondary">{{ resource.id }}</h6>
                    <a href="{{ path('app_admin_modifySpecific', {'id': resource.id}) }}" class="card-link">Modifier cette ressource</a>
                </div>
            </div>

            {% endfor %}
        </div>

    </div>
{% endblock %}
