{% extends 'template.html.twig' %}

{% block title %}BC24-À propos de nous{% endblock %}



{% block body %}


<div class="content">

    <div id="main-wrapper">
        <div class="container">
                <div class="content">
                    <article>
                    <h3>À propos de nous</h3>
                    <br>
                    <p>
                        <b>Trace</b> propose un service complet de supply-chain utilisant la technologie <b>blockchain</b> pour
                        l'industrie de la viande qui permettra de tracer l’origine de la viande dès l’élevage et toutes les
                        transformations qu’elle aura subi, en passant par son transport.
                        Notre solution permet d’améliorer le suivi des produits de viande pour accroître la confiance des
                        consommateurs et assurer la fiabilité des données collectées par les producteurs, transporteurs et
                        distributeurs. <b>Trace</b> a pour but d’améliorer l’efficacité opérationnelle de <b>tous les acteurs de la
                            chaîne de traçabilité</b> en automatisant le maximum de tâches.
                    </p>
                    <p>
                        Donner l’accès des données de traçages des produits accroît l’intention d’achat des
                        consommateurs, les entreprises adoptant notre solution pourraient alors voir leurs ventes
                        augmenter. C’est pourquoi nous proposons également une application à destination <b>des
                            consommateurs </b> qui leur permet de scanner les produits pour accéder à toutes les informations
                        de la chaîne d’approvisionnement. L’application est connectée à l’API RappelConso pour envoyer
                        une notification au consommateur si un produit fait l’objet d’un rappel.
                    </p>
                    </article>
                </div>
                <div class="row">
                    <div class="col-3 col-3-medium">
                        <a href="{{ path('app_index') }}" class="button medium icon solid fa-arrow-circle-right">Accueil</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
