{% extends 'base.html.twig' %}

{% block title %}BC24 - Traçabilité{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('CSS/index.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}

<div class="main-content">
    <h1>BC24 - Traçabilité</h1>
    <a href="{{path('app_info')}}">Qu'est-ce que c'est ?</a>
    <div class="search-container">
        <span>Code NFC : </span>
        <input type="text" class="search-box" placeholder="Recherche">
        
    </div>
</div>

{% endblock %}
