{% extends 'base.html.twig' %}


{% block body %}
    <div class="example-wrapper">
        <h1 style='text-align:center'>Produits dangereux récemment détectés</h1>

    </div>
    {% for resource in resourcesC %}
        <div class="card bg-danger mb-3" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">{{ resource.resourceName }}</h5>
            <h6 class="card-subtitle mb-2 text-body-secondary">{{ resource.id }}</h6>
            <p class="card-text">{{ resource.description }}</p>
            <a href="{{ path('app_search_result', {'id': resource.id}) }}" class="card-link">Fiche du produit</a>
        </div>
    </div>
    {% endfor %}
{% endblock %}

