{% extends 'pro/equarrisseur/index.html.twig' %}

{% block body %}
    <div class="container-fluid">
    {% if resourceType == 'Animal' %}
        <h1>Équarrir la bête :</h1>
        <p>Valider pour équarrir la bête définitivement</p>
        <br>
    {% else %}
        <h1>Découper en 2 la carcasse :</h1>
        <p>Valider pour découper la carcasse en demi-carcasses</p>
        <br>
    {% endif %}
        {{ form_start(form) }}
        <input type="submit" name="{{ field_name(form.submit) }}" value="Valider" class="btn btn-primary">
        {{ form_end(form) }}
    </div>
{% endblock %}
