{% extends 'pro/equarrisseur/index.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <h1 class="mt-4">Vos ressources :</h1>
        {% if resources %}

            {% for resource in resources %}
                <div class="card mr-2 mb-2" style="width: 100%;">
                    <div class="card-body ">
                        <h5 class="card-title">{{ resource.ResourceName.name }} - {{ resource.id }}</h5>
                        <a href="{{ path('app_equarrisseur_job', {'id' : resource.id}) }}" class="card-link">Plus de détails</a>
                    </div>
                </div>
            {% endfor %}

        {% else %}
            <br>
            <p>Vous n'avez aucune resource</p>
        {% endif %}
    </div>
{% endblock %}
