{% extends 'template.html.twig' %}
{% block title %}BC24-Mon Compte{% endblock %}

{% block body %}

<a href="{{ path('app_user_delete') }}">Supprimer mon compte</a>
<br>
<a href="{{ path('app_user_update') }}">Changer les informations de mon compte</a>

{% endblock %}
