{% extends 'template.html.twig' %}
{% block meta %} <meta http-equiv="refresh" content="10;{{ path('app_deleteMyAccount2') }}" charset="UTF-8"> {% endblock %}
{% block title %}BC24-Supprimer mon compte{% endblock %}

{% block body %}
    <h1> Vous êtes sur le point de supprimer définitivement votre compte et toutes les informations qui y sont associées </h1>
    <br>
    <h2>Voulez-vous vraiment supprimer votre compte ?</h2>
    <br>
    <h2>
        <a href="{{ path('app_user_delete_process') }}">Supprimer mon compte maintenant </a>
    </h2>

{% endblock %}
