{% extends 'pro/transporteur/index.html.twig' %}

{%  block body %}
    <div class="container-fluid">
        <h1 class="mt-4">Votre cargaison :</h1>
        <br>
        <form action="" method="post" class="search-form">
            <label for="NFC">Entrez le NFT ID ou scanner la ressource</label><br>
            <input class="search-input" id="NFC" name="NFC" type="number" required>
            <button id="scanner-button" class="btn btn-primary scanner-button">Scanner</button><br>
            <button type="submit" class="btn btn-primary">Chercher</button>
        </form>

        {% if resources %}
        <br><br>
            {% for resource in resources %}
                <div class="card mr-2 mb-2" style="width: 100%;">
                    <div class="card-body ">
                        <h5 class="card-title">{{ resource.ResourceName.name }} - {{ resource.id }}</h5>
                        <a class="card-link" href="{{ path('app_transporteur_specific', {'id': resource.id}) }}">Informations</a>
                    </div>
                </div>
            {% endfor %}

        {% else %}
            <br><br>
            <p>Votre cargaison est vide.</p>
        {% endif %}
    </div>

{% endblock %}
