{% extends 'pro/eleveur/index.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <h1 class="mt-4">Liste de vos animaux</h1>
        <form action="" method="post" class="search-form">
            <label for="NFC">Tag NFC de la ressource</label>
            <input class="search-input" id="NFC" name="NFC">
            <br>
            <button id="scanner-button" class="btn btn-primary scanner-button">Scanner</button>
            <button type="submit" class="btn btn-primary">Chercher</button>
        </form>


    {% if animaux %}
        <br><br>
        {% for animal in animaux %}
            <div class="card mr-2 mb-2" style="width: 100%;">
                <div class="card-body ">
                    <h5 class="card-title">{{ animal.ResourceName.name }} - {{ animal.id }}</h5>
                    <a href="{{ path('app_eleveur_specific', {'id' : animal.id}) }}" class="card-link">Informations et actions</a>
                </div>
            </div>
        {% endfor %}

    {% else %}
        <p>Vous n'avez pas encore d'animaux</p>
    {% endif %}
    </div>
{% endblock %}
