{% extends 'pro/eleveur/index.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <h1>Enregistrez votre source de Nutrition :</h1>
        <br>
        <form action="{{ path('app_eleveur_nutrition', {'id' : id}) }}" method="post">
            <label for="vaccine">Source de nutrition :
                <select class="custom-select" required name="nutrition" id="nutrition">
                    <option value="Nutrition A" selected>Nutrition A</option>
                    <option value="Nutrition B">Nutrition B</option>
                    <option value="Nutrition C">Nutrition C</option>
                    <option value="Nutrition D">Nutrition D</option>
                    <option value="Nutrition E">Nutrition E</option>
                </select>
            </label>
            <br>
            <input class="btn btn-primary" type="submit" value="Enregistrer">
        </form>

    </div>
{% endblock %}
