{% extends 'pro/eleveur/index.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <h1>Enregistrez un vaccin effectué :</h1>
        <br>
        <form action="{{ path('app_eleveur_vaccine', {'id' : id}) }}" method="post">
            <label for="vaccine">Vaccin effectué :
            <select required name="vaccine" id="vaccine">
                <option value="Vaccin A" selected>Vaccin A</option>
                <option value="Vaccin B">Vaccin B</option>
                <option value="Vaccin C">Vaccin C</option>
                <option value="Vaccin D">Vaccin D</option>
                <option value="Vaccin E">Vaccin E</option>
            </select>
            </label>
            <input type="submit" value="Enregistrer">
        </form>

    </div>
{% endblock %}
