{% extends 'pro/eleveur/index.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <h1>Enregistrez un vaccin effectué :</h1>
        <br>

        {{ form_start(form) }}
            <label> Vacciner contre :
            {{ form_widget(form.Vaccin, {'attr': {'class': 'form-control'}}) }}
            </label>
        {{ form_end(form) }}
        <br>
        <a href="{{ path('app_eleveur_specific', {'id' : id}) }}"><button class="btn btn-primary">Revenir en arrière</button></a>
    </div>
{% endblock %}
